.Navbar{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.Navbar .logo {
    font-size: 1.8em;
    width: 140px;
    height: 99px;
    background-color: #d21825;
    color: white;
    line-height: 0.7;
    padding-top: 30px;
}

.links {
    margin-left: 100px;
    
}

.links button {
    margin-left: 50px;
    background: none;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.links button:hover{
    color: #d21825;
}

.search {
    width: 100px;
    height: 50px;
    font-size: 1.25em;
    background: none;
    border: none;
    border-left: 3px solid #d21825;
    margin-left: 20px;
    cursor: pointer;
}